doctype html
html(lang="en")
  head
    title Landing Page
  body 
    header
      h1(backgroundcolor="yellow")  The Future Home
    section#content
      p Hello! This is Rita's Server
      p OOOOOh～～My～～God!!!!
    footer
      p This is footer