html, body {
  font-family: 'PT Serif','Lato', 'Noto Sans TC', sans-serif;
  margin: 0;
  padding: 0;
  color: #333333;
  background-color: #f6f7f8;
}

header{
  height: 50px;
  background-color: #dcdcdc;
}

nav{
  padding: 15px 40px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}


.item1, .item2, .item3, .item4{
/* outline: 3px solid red; */
  margin: 0 10px;
}

/* mobile manu list start*/
#menulist{
  display: none;
  position: fixed;
  background-color: #dcdcdc;
  right: 0;
  top: 33px;
  height: 100%;
  transition: ease-out;
}

li{
  margin: 30px 60px 10px 30px;
  list-style: none;
  transition: .3s ease-out;
}

/* mobile manu list end*/

section{
  text-align: center;
}

.welcome_message{
  height: 300px;
  background-color: #b0c4de;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content_box{
  margin: 0px auto;
  max-width: 1200px;
} 

.box1 ,.box2{
/*   outline: 3px solid red; */
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
}

.contentbox{
  height: 150px;
  width: calc(50% - 30px);
  background-color: #778899;
  margin:10px 10px;
  padding: 10px 0;
}

#toggleList{
  background-color: #b0c4de;
  width: 200px;
  height: 50px;
  margin: 20px auto;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
} 



/* RESPONSIVE */
/* 當畫面大於800px時，隱藏選單 */
 @media screen and (min-width: 800px) {
.mobile{
  display: none;
}
}



/* 當畫面小於799px時，隱藏選單 */
 @media screen and (max-width: 799px) {
  div.item{
    display: none;
  }
}
  
/* 當畫面小於500px時，content變成一行 */    
  @media screen and (max-width: 499px) {
    .contentbox{
      height: 150px;
      width: calc(100% - 10px);
      background-color: #778899;
      margin:10px 10px;
      padding: 10px 0;
    }
}